    <nav class="navbar navbar-default navbar-xs" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><b>Tiny</b> Navbar</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="#"><i title="undo" class="glyphicon glyphicon-arrow-left"></i></a></li>
      <li><a href="#"><i title="redo" class="glyphicon glyphicon-arrow-right"></i></a></li>
      <li><a href="#"><i title="refresh" class="glyphicon glyphicon-refresh"></i></a></li>
      <li><a href="#"><i title="download" class="glyphicon glyphicon-download"></i></a></li>
      <li><a data-toggle="modal" data-target="#myModal" ><i title="upload" id= "upload" class="glyphicon glyphicon-upload" ></i></a></li>
      <li><a href="#"><i title="switch column to row" class="glyphicon glyphicon-sort"></i></a></li>
      <li><a href="#"><i title="add Header" class="glyphicon glyphicon-header"></i></a></li>
      <li><a href="#"><i title="Publish" class="glyphicon glyphicon-share"></i></a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">File Upload</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="block">
    <label>Insert Collection Name:</label>
    <input id="mycollection" type="text" />
      </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <label class="btn btn-primary btn-file" >
       Upload  <input type="file" name="file" id="file" accept=".csv,.txt,.json" style="display: none;" />
    </label>
      </div>
    </div>
  </div>
</div>

