
<div class="size">
  <input type="text" name="test" value="choose your size" class="field" readonly="readonly" />
  <ul class="list">
    <li>Send to Column(Longitude)</li>
    <li>Send to Row(Latitude)</li>
  </ul>
</div>

<!--  -->
<%= render 'analytics/analytics_navbar' %>

<!-- <%= render 'analytics/sidebar' %> side bar disabled--> 

<div class="container custom-container"> 
<div class="row">
    <div class="col-sm-2 col-first-margin">
      <div class="card customcard">
      <ul class="nav nav-tabs" role="tablist">
        <li id="data_tab"><a>Data</a></li>
          <li id="analytics_tab"><a>Analytics</a></li>
         
      </ul>
            <div class="tab-content">
                <div class="tab-pane headers" id="data"> <!--  <ul class="list-group"><% for header in @headers %>  
                <li class="list-group-item">
                <label class="header_label"><%= header %></label><input type="checkbox" id="#{<%= header %>}" value="first_checkbox">
                
                </li>
                <% end %>
                </ul>
                -->
                <div id="tree1"> </div>
                </div>



               <div  class="tab-pane" id="analytics">Analytics Tools Here</div> 
            </div>
        </div> <!-- end of tabs-->
    </div>
    <div class="col-sm-2 custom-list">
       <div class="card"> 
        <ul class="list-group">
        <li class="list-group-item">Filter</li>
        <li class="list-group-item"><div>Marks</div>
        <div class="select">
            <span class="arr"></span>
            <select id="dropdown">
            <option value="selectOption">Select below</option>
        <option value="plLineDiv">Line Chart</option> <!-- option does'nt need id they need value -->
              <option value="plBarDiv">Bar Chart</option> 
              <option value="plAreaDiv">Area Chart</option>
              <option value="plScatterDiv">Scatter Plot</option>
            <!--  <option value="mapid_cm">Choropleth Map</option> -->
              <option value="mapid">Geolocation</option>
            <!--  <option value="mapid_hm">Heat Map</option> -->
            <!--  <option value="HM">Heat Map</option> -->
            </select>
        </div>
        </li>
        <li class="list-group-item">Measure</li>
        <li class="list-group-item">Fourth item</li>
        </ul>
         </div> 
        </div>
        <div class="col-sm-6">

            <div class="row col_row">
            <div class="row col_row"><div class="col" style="width: 100%; height: 25px;   border-bottom: 1px solid #DDDDDD;">test col</div></div>
            <div class="row col_row"><div class="col" style="width: 100%; height: 25px;   border-bottom: 1px solid #DDDDDD;">test row</div></div>

          </div>
          <div class="row col_row">
      <div id="plLineDiv" style="width: 100%; height: 350px; "><!-- Plotly chart will be drawn inside this DIV --></div>
      <div id="plBarDiv" style="width: 100%; height: 350px;"><!-- Plotly chart will be drawn inside this DIV --></div>
      <div id="plAreaDiv" style="width: 100%; height: 350px;"></div>

      <div id="plScatterDiv" style="width: 100%; height: 350px;"> </div>
      
           </div>

    </div>
    <div class="col-sm-2 col-last-margin">
    <div class="card">
      <ul class="list-group">
        <li class="list-group-item">Date Picker<div> <input id="date_picker" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/></div>
        </li>
        <li class="list-group-item">Legend(Meaure Names)</li>
        <li class="list-group-item">Opacity<div> <input id="opacity-slider" data-slider-id='ex1Slider' type="text" data-slider-min="02/25/2014" data-slider-max="02/25/2017" data-slider-step="1" data-slider-value="5"/></div> </li>
        <li class="list-group-item">Filter Option 2</li>
        </ul>
        </div>


         <!--   <script type="text/javascript">

            $(document).ready(function() {

              $('#datetimepicker1').datetimepicker();

            }

              ); //document ready closure
        </script>
 -->
    </div>
    </div>
</div>


