.my_row {
		margin-top: 20px;
	// margin-right: 5px;

}

.my_col {
	 padding-left: 15px !important;
	 padding-right: 0px !important;

}
.my_col_child {
	
	background-color: lavender;
	width: 450px;
	height: auto;
}

.graph_header{
	
	text-align: center;
}

.graph_title{
	
	font-size: 18px;
    font-weight: bold;
    line-height: 0.1;
    
}

.black-outline {
    outline: 1px solid black;
    height: 350px;
    width: 460px;
}

.select2-container .select2-choice ul.select2-results {
        display: block!important;
        height: 36px!important;
        white-space: nowrap!important;
        line-height: 26px!important;
        max-width: 140px!important;
        min-width: 140px!important;
    }

