<%= javascript_include_tag 'exclusive/bidashboard' %> <!-- load page specific JS !-->
<%= javascript_include_tag 'exclusive/select2.min' %> <!-- load page specific JS !-->
<%= javascript_include_tag 'exclusive/helpers/filters_helper' %>
<%= javascript_include_tag 'exclusive/plotlyBarChart' %> <!-- load page specific JS !-->

<div class="row main_row">
  <div class="col-sm-2 well black-outline column1">
    <div class="plBarDiv1_filters">
      <div class="row">
        <select class="selectFilter" id="filter1" style="max-width:140px;">
          <option>
            Select Filter 1
          </option>
        </select>
      </div>
      <input type="checkbox" id="filter1_options_select_all" checked="false"/>
      <div class="row">
        <select class="selectSubFilter" id="filter1_options" multiple="multiple" disabled style="max-width:140px;">
          <option value="placeholder_text">
            Select Filter 1 Options
          </option>
        </select>
      </div>
      <div class="row">
        <select class="selectFilter" id="filter2" style="max-width:140px;">
          <option>
            Select Filter 2
          </option>
        </select>
      </div>
      <input type="checkbox" id="filter2_options_select_all" checked="false" />
      <div class="row">
        <select class="selectSubFilter" id="filter2_options" multiple="multiple" disabled style="max-width:140px;">
          <option value="placeholder_text">
            Select Filter 2 Options
          </option>
        </select>
      </div>
      <div class="row">
        <select class="selectFilter" id="filter3" style="max-width:140px;">
          <option>
            GroupBy
          </option>
        </select>
      </div>
      <button id="generate_plBarDiv1">
        Plot
      </button>
    </div>
  </div>
	<div class="col-sm-5 no-left-right-padding black-outline column2">
    <div class="row">
      <div class="col-sm-12">
        <div class="row well no-margin-bottom black-outline first_row_by_2">
    			<div id="static_plBarDiv1"><!-- Plotly chart will be drawn inside this DIV -->
          </div>
    		</div>
        <div class="row well no-margin-bottom black-outline second_row_by_2">
            <div id="static_plBarDiv2"><!-- Plotly chart will be drawn inside this DIV -->
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-5 no-left-right-padding black-outline column3">
    <div class="row">
      <div class="col-sm-12">
        <div class="row well no-margin-bottom black-outline first_row_by_3">
          <div id="static_plBarDiv3">
          </div>
        </div>
        <div class="row well no-margin-bottom black-outline second_row_by_3">
          <div id="static_plBarDiv4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
