
<div class="container custom-container"> 
<div class="row main_row" style="width: 100%; height: 350px;">
 <div class="row first_row" style="width: 100%; height: 350px;">
  <div class="col-sm-6 black-outline">
  <div id="static_plBarDiv1" style="width: 100%; height: 350px;"><!-- Plotly chart will be drawn inside this DIV --></div> </div>
  <div class="col-sm-6 black-outline">
  <div id="static_plBarDiv2" style="width: 100%; height: 350px;"><!-- Plotly chart will be drawn inside this DIV --></div> </div> </div>
 
 <div class="row second_row" style="width: 100%; height: 350px;">
 <div class="col-sm-6 black-outline">
  <div id="static_plBarDiv3" style="width: 100%; height: 350px;"><!-- Plotly chart will be drawn inside this DIV --></div> </div>
  <div class="col-sm-6 black-outline">
  <div id="static_plBarDiv4" style="width: 100%; height: 350px;"><!-- Plotly chart will be drawn inside this DIV --></div> </div>
 </div>
</div>
</div>



<!-- <div id="static_plBarDiv" style="width: 100%; height: 350px;"></div>  -->