
<div class="container custom-container"> 
 <div class="row main_row" style="width: 100%; height: 100%;">
    <div class="col-sm-2 black-outline column1">
        <div class="plBarDiv1_filters"> 
            <select class="selectFilter" id="filter1"> 
              <option>
                Select Filter 1
              </option>
            </select>
            <select class="selectSubFilter hidden" id="filter1_options" multiple="multiple"> 
              <option>
                Select Filter 1 Options
              </option>
            </select> 
            <select class="selectFilter" id="filter2"> 
              <option>
                Select Filter 2
              </option>
            </select>
            <select class="selectSubFilter hidden" id="filter2_options" multiple="multiple"> 
              <option>
                Select Filter 2 Options
              </option>
            </select>
            </select> 
            <select class="selectFilter" id="filter3"> 
              <option>
                GroupBy
              </option>
            </select>            
            <button id="generate_plBarDiv1">
              Plot 
            </button>
          </div>
      </div>
  	<div class="col-sm-5 black-outline column2">
      <div class="row first_row_by_2" style="width: 100%; height: 100%;">
  			<div id="static_plBarDiv1" style="width: 100%; height: 100%;"><!-- Plotly chart will be drawn inside this DIV -->   
        </div>
  		</div>
      <div class="row second_row_by_2" style="width: 100%; height: 100%;">
          <div id="static_plBarDiv2" style="width: 100%; height: 100%;"><!-- Plotly chart will be drawn inside this DIV -->
          </div> 
      </div> 
    </div>
    <div class="col-sm-5 black-outline column3">
      <div class="row first_row_by_3" style="width: 100%; height: 100%;">
        <div id="static_plBarDiv3" style="width: 100%; height: 100%;">
        </div> 
      </div>
      <div class="row second_row_by_3" style="width: 100%; height: 100%;">
        <div id="static_plBarDiv4" style="width: 100%; height: 100%;">
        </div>
      </div>
    </div>
  </div>
</div>

