<div class="row my_row">

  	<div class="col-sm-4" id="plLineDiv" style="width: 400px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>

  	<div class="col-sm-4" id="plLineDiv1" style="width: 400px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>

  	<div class="col-sm-4" id="plLineDiv2" style="width: 400px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>

</div>  


<div class="row my_row">

	<div class="col-sm-4" id="plPieDiv" style="width: 380px; height: 400px;"></div>

  	

  

<div class="col-sm-4" id="plAreaDiv" style="width: 380px; height: 400px;"></div>
  
</div> 

