<h1> <i> This is a heading </i>  </h1>
<p style= "color:blue;" id = "para" title="This is a title">
  <q> this is best </q>
  <abbr title=" Muder By Alphabet Soup">MBAS </abbr>
</p>
<p>
<div class="testclass">
  This is a sample div style
</div>
</p>
<a href="http://www.w3schools.com">This is a link</a>
<script>  //javascript

var x = 5;
var y = 10;

  document.getElementById("para").innerHTML = x + y;

</script>

<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
  <tr>
    <td>Ali</td>
    <td>Q</td>
    <td>26</td>
  </tr>
</table>