<!-- <h1>Sysmon Performance Dashboard</h1> -->
<%= request.env['PATH_INFO'] %> 

<div class="row main_row">
  <div class="col-sm-5 no-left-right-padding black-outline column2">
    <div class="row">
      <div class="col-sm-12">
        <div class="row well no-margin-bottom black-outline first_row_by_2">
          <div id="static_plBarDiv1"><!-- Plotly chart will be drawn inside this DIV -->
          </div>
        </div>
        <div class="row well no-margin-bottom black-outline second_row_by_2">
            <div id="static_plBarDiv2"><!-- Plotly chart will be drawn inside this DIV -->
            </div>
        </div>
      </div>
    </div>
  </div>
</div>




