<footer class="footer">
  <small>
    The <a href="#">MTCE Performance Dashboard</a>
    brought to you by <a href="#">Sys Admin</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">New Release</a></li>
    </ul>
  </nav>
</footer>