<!-- HEADER -->
<header id="header">
  <div id="logo-group">

    <!-- PLACE YOUR LOGO HERE -->
    <a href="<%= root_path %>"><span id="logo">BI<sup>2</sup></span></a>
    <!-- END LOGO PLACEHOLDER -->
  </div>
  <ul class="nav navbar-nav">
    <% if user_signed_in? %>
      <li>
        <a href="<%= ericsson_hw_inv_audit_index_path %>">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li><a href="/analytics">Analytics</a></li>
    <% end %>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li><%= link_to('Sign Out', destroy_user_session_path, method: :delete) %></li>
      <!-- collapse menu button -->
      <li id="hide-menu" class="btn-header pull-right">
        <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
      </li>
      <!-- end collapse menu -->
    <% else %>
      <li><a href="/users/sign_in">Sign in</a></li>
      <li><a href="/users/sign_up">Sign up</a></li>
    <% end %>
  </ul>
</header>
<!-- END HEADER -->
